@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway";
    overflow: hidden;
    margin: 0;
}

.parent {
    display: grid; 
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.opacity {
    width: 100vw;
    height: 100vh;
    background-color: #daf9ff;
    opacity: 90%;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: -1;
}

.button {
    transform-origin: center;
    background-color: #7e61ff;
    border-radius: 10px;
    transition: 0.1s;
    text-align: center;
    padding: 1px;
    padding-top: 1rem;
    width: 150px;
    height: 50px;
    color: #e3ebff;
    font-weight: 700;
    font-size: 20pt;
    text-decoration: none;
    grid-row: 1/2;
    grid-column: 1/2;
    opacity: 100%;
}

.button:hover {
    background-color: #937aff;
    color: #ffffff;
    transition: 0.2s;
}

video {
    width: 100vw;
    height:100vh;
    z-index: -2;
    grid-row: 1/2;
    grid-column: 1/2;
}

audio {
    width: 500px;
    height: 100px;
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: flex-start;
}