@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --gradient1: 0.7;
    --gradient2: 0.7;
    --gradient3: 0.7;
    --gradient4: 0.7;

    --gr1: 0.0;
    --gr2: 0.0;
    --gr3: 0.0;
    --gr4: 0.0;

}

body {
    font-family: "Raleway";
    overflow: hidden;
    margin: 0;
}

.parent {
    display: grid; 
    justify-items: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 15% 35% 35% 15%;
}

.opacity {
    width: 100vw;
    height: 100vh;
    background-color: #3f074ee0;
    grid-row: 1/2;
    grid-column: 1/5;
    z-index: -1;
}

.headline {
    font-size: 4vh;
    color: azure;
    grid-row: 1/2;
    grid-column: 2/4;
    justify-self: center;
    align-self: start;
    margin-top: 7vh;
    z-index: 3;
    opacity: 100%;
}

.buttonfree {
    transform-origin: center;
    background-color: #0dadad77;
    border-radius: 20px;
    border: solid 3px #ffffff3f;
    transition: 0.1s;
    text-align: center;
    padding: 1px;
    padding-top: 1rem;
    width: 30vw;
    height: 60vh;
    color: #e3ebff;
    font-weight: 700;
    font-size: 20pt;
    text-decoration: none;
    grid-row: 1/2;
    grid-column: 3/4;
    opacity: 100%;
}

.buttonguided {
    transform-origin: center;
    background-color: #6198ff77;
    border-radius: 20px;
    border: solid 3px #ffffff3f;
    transition: 0.1s;
    text-align: center;
    padding: 1px;
    padding-top: 1rem;
    width: 30vw;
    height: 60vh;
    color: #e3ebff;
    font-weight: 700;
    font-size: 20pt;
    text-decoration: none;
    grid-row: 1/2;
    grid-column: 2/3;
    opacity: 100%;
}

.buttonback {
    align-self: flex-start;
    margin-top: 5vh;
    transform-origin: center;
    background-color: #cccccc30;
    border-radius: 5vh;
    transition: 0.1s;
    text-align: center;
    padding: 1rem;
    width: 5vh;
    height: 5vh;
    color: #e3ebff;
    font-weight: 100;
    font-size: 30pt;
    text-decoration: none;
    grid-row: 1/2;
    grid-column: 1/2;
    opacity: 0%;
    transition: 0.5s;
}

.buttonfree:hover {
    background-color: #2fe3e99a;
    color: #ffffff;
    transition: 0.1s;
    transform: scale(1.02);
}

.buttonguided:hover {
    background-color: #9ba5ffc0;
    color: #ffffff;
    transition: 0.1s;
    transform: scale(1.02);
}

.buttonback:hover {
    background-color: #ffffff3b;
    color: #ffffff;
    transition: 0.2s;
}

.footerguided {
    font-size: 3vh;
    color: azure;
    grid-row: 1/2;
    grid-column: 2/4;
    justify-self: center;
    align-self: end;
    margin-bottom: 10vh;
    z-index: 3;
    opacity: 0;
}
.footerfree {
    font-size: 3vh;
    color: azure;
    grid-row: 1/2;
    grid-column: 2/4;
    justify-self: center;
    align-self: end;
    margin-bottom: 10vh;
    z-index: 3;
    opacity: 0;
}

.guidetext {
    font-size: 2vh;
    font-weight: 100;
    color: azure;
    grid-row: 1/2;
    grid-column: 2/4;
    justify-self: center;
    align-self: end;
    margin-bottom: 10vh;
    z-index: 3;
    opacity: 100%;
    transition: 0.5s;
}


audio {
    width: 500px;
    height: 100px;
    grid-row: 1/2;
    grid-column: 1/5;
    align-self: flex-start;
    transition: 2s;
}

.animation {
    width: 100vw;
    height: 100vh;
    z-index: -2;
    display: grid;
    grid-row: 1/2;
    grid-column: 1/5;
}

.gradient-box {
    width: 100vw;
    height: 100vh;
    
    grid-row: 1/2;
    grid-column: 1/5;
    z-index: -2;
    animation-name: gradients;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    
    background-image: 
        linear-gradient(to top left, rgba(0,0,0,0), rgba(0, 247, 255, var(--gr1))),
        linear-gradient(to top right, rgba(0, 0, 0, 0), rgb(0, 255, 200, var(--gr2))),
        linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgb(23, 0, 255, var(--gr3))),
        linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgb(0, 153, 255, var(--gr4)));
    background-position:
        top left,
        top right,
        bottom right,
        bottom left;
    background-size: 100% 100%; /*cover width and height*/
    background-repeat: no-repeat;
}

@keyframes gradients {
    0% {--gr1: 0.7; --gr2: 0.7; --gr3: 0.7; --gr4: 0.6}
    10% {--gr1: 0.65; --gr2: 0.75; --gr3: 0.69; --gr4: 0.65}
    20% {--gr1: 0.6; --gr2: 0.8; --gr3: 0.68; --gr4: 0.7}
    30% {--gr1: 0.55; --gr2: 0.85; --gr3: 0.67; --gr4: 0.75}
    40% {--gr1: 0.5; --gr2: 0.9; --gr3: 0.66; --gr4: 0.8}
    50% {--gr1: 0.45; --gr2: 0.95; --gr3: 0.65; --gr4: 0.85}
    60% {--gr1: 0.5; --gr2: 0.9; --gr3: 0.66; --gr4: 0.8}
    70% {--gr1: 0.55; --gr2: 0.85; --gr3: 0.67; --gr4: 0.75}
    80% {--gr1: 0.65; --gr2: 0.8; --gr3: 0.68; --gr4: 0.7}
    90% {--gr1: 0.65; --gr2: 0.75; --gr3: 0.69; --gr4: 0.65}
    100% {--gr1: 0.7; --gr2: 0.7; --gr3: 0.7; --gr4: 0.6}
}

.circle {
    width: 35vh;
    height: 35vh;
    border-radius: 35vh;
    grid-row: 1/2;
    grid-column: 1/5;
    justify-self: center;
    align-self: center;
    z-index: 1;
    background-image: linear-gradient(rgb(73, 173, 255, 0.5), rgb(136, 225, 255, 0.5));

    animation: circle 10s infinite ease paused;
}

.smolcircle {
    width: 36vh;
    height: 36vh;
    border-radius: 36vh;
    grid-row: 1/2;
    grid-column: 1/5;
    justify-self: center;
    align-self: center;
    z-index: 1;
    background-color: #ffffff25;

    animation: smolcircle 10s infinite ease paused;
}

.jumpcircle {
    width: 35vh;
    height: 35vh;
    border-radius: 35vh;
    grid-row: 1/2;
    grid-column: 1/5;
    justify-self: center;
    align-self: center;
    z-index: -2;
    background-color: #ffffff25;

    animation: jumpcircle 10s infinite ease paused;
}

.hl {
    font-size: 5vh;
    color: azure;
    grid-row: 1/2;
    grid-column: 1/5;
    justify-self: center;
    align-self: start;
    margin-top: 10vh;
    z-index: 3;
}
.in {
    animation: hlin 10s infinite ease paused;
}
.hold {
    animation: hlhold 10s infinite ease paused;
}
.out {
    animation: hlout 10s infinite ease paused;
}

@keyframes circle {
    0% {transform: scale(1);}
    40% {transform: scale(1.4);}
    60% {transform: scale(1.4);}
    100% {transform: scale(1);}
}
@keyframes smolcircle {
    0% {transform: scale(1);}
    40% {transform: scale(1.4);}
    60% {transform: scale(1.4);}
    100% {transform: scale(1);}
}
@keyframes jumpcircle {
    0% {transform: scale(1);}
    40% {transform: scale(1.4); opacity: 100%;}
    50% {transform: scale(2); opacity: 0%;}
    50.1% {transform: scale(1.4); opacity: 100%;}
    60.1% {transform: scale(2); opacity: 0%;}
    60.2% {transform: scale(1.4);}
    100% {transform: scale(1);}
}
@keyframes hlin {
    0% {opacity: 0%;}
    5% {opacity: 100%;}
    35% {opacity: 100%;}
    40% {opacity: 0%;}
    100% {opacity: 0%;}
}
@keyframes hlhold {
    0% {opacity: 0%;}
    35% {opacity: 0%;}
    40% {opacity: 100%;}
    60% {opacity: 100%;}
    65% {opacity: 0%;}
    100% {opacity: 0%;}
}
@keyframes hlout {
    0% {opacity: 0%;}
    60% {opacity: 0%;}
    65% {opacity: 100%;}
    95% {opacity: 100%;}
    100% {opacity: 0%;}
}