@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway";
    background-color: #daf9ff;
    overflow: hidden;
    margin: 0;
}

.parent {
    display: grid; 
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.title {
    transform-origin: center;
    background-color: #7e61ff;
    border-radius: 10px;
    transition: 0.1s;
    text-align: center;
    padding: 1px;
    padding-top: 1rem;
    width: 150px;
    height: 50px;
    color: #e3ebff;
    font-weight: 700;
    font-size: 20pt;
    text-decoration: none;
}

.title:hover {
    background-color: #937aff;
    color: #ffffff;
    transition: 0.2s;
}